@import '../Variables/Variables.scss';

.section {
    background: $blackColor;
    padding-bottom: 8rem;
    padding-right: 5rem;

    &__contact {
        gap: 1rem;
        

        @include flexCenter(row);
        @include brkPoint (md){
            gap: 2rem;
            width: 100%;
            height: 110vh;
        }   

        &__img {

            img{
                width: 250px;
                height: 400px;
            }

           
            @include brkPoint(md) {
                padding-left: 10%;

                img {
                    width: 100%;
                    height: 90%;
                    aspect-ratio: 1/1;
                }
            }
        }

        &__info {
            flex: 1;
            @include flexCenter(column);
            align-items: left;
            margin-right: 10px;
            gap: 5px;
            

            &__title {
                font-size: 90px;
                color: $primary;
                margin-bottom: 2px;

                @include brkPoint(md) {
                    margin: 10px auto;
                    font-size: 250px;
                    position: relative;
                    left: -50%;
                }
            }

            &__details {
                font-size: 15px;
                color: $whiteColor;
                text-decoration: none;
                margin-top: 5px;

                a {
                    text-decoration: none;
                    color: $whiteColor;
                }

                a:hover {
                    color: $primary;
                }
                @include brkPoint(md){
                    font-size: 20px;
                    margin-top: 10px;
                    gap: 5px;
                }
            }

            &__socials {
                @include flexCenter(row);
                gap: 15px;
                margin-top: 5px;
            }

            &__icons {
                color: $whiteColor;
            }
        }
    }

}