@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
.header {
  background: rgb(24, 24, 24);
  padding: 0 1.6rem;
  transition: 0.3s ease all;
}
@media (min-width: 48em) {
  .header {
    padding: 0 0.5rem;
  }
}
.header__content {
  overflow: hidden;
  color: rgb(255, 255, 255);
  margin: 0 auto;
  max-width: 1920px;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 100;
  font-family: "Open Sans", sans-serif;
}
.header__content__logo {
  padding-left: 4.5rem;
}
.header__content__logo img {
  height: 50%;
  width: 40%;
}
.header__content__nav {
  top: 0;
  right: 100%;
  bottom: 0;
  width: 100%;
  height: 130vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(24, 24, 24, 0.9);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  transform: translate(0);
  transition: 0.3s ease transform;
}
@media (min-width: 48em) {
  .header__content__nav {
    transform: none;
    flex-direction: row;
    background: transparent;
    width: auto;
    height: 100%;
    position: static;
  }
}
.header__content__nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: calc(25.5rem + 16px);
}
@media (min-width: 48em) {
  .header__content__nav ul {
    flex-direction: row;
    align-items: center;
    margin-bottom: calc(0.5rem + 16px);
  }
}
.header__content__nav ul li:not(:last-child) {
  margin-bottom: 32px;
}
@media (min-width: 48em) {
  .header__content__nav ul li:not(:last-child) {
    margin-bottom: 0;
    margin-right: 16px;
  }
}
.header__content__nav ul li a {
  text-decoration: none;
  color: inherit;
  padding: 0.75rem 1.25rem;
  transition: 0.3s ease all;
  position: relative;
}
.header__content__nav ul li a::after {
  content: "";
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 0.175rem;
  left: 0;
  bottom: 0;
  background: rgb(255, 255, 255);
  transform: scale(0, 1);
  transform-origin: 0% 100%;
  transition: transform 0.3s ease;
}
.header__content__nav ul li a:hover::after {
  transform: scale(1, 1);
}
.header__content__nav ul li a:active {
  border-radius: calc(12px + 6px);
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2));
}
.header__content__nav footer.a {
  color: rgb(255, 255, 255);
}
.header__content__nav footer.p {
  color: rgb(24, 24, 24);
}
.header__content__nav.isMenu {
  transform: translate(100%);
  background-color: rgb(255, 255, 255);
  color: rgb(24, 24, 24);
  font-size: 25px;
  font-weight: 700;
}
.header__content__toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 32px;
  transition: 0.3s ease all;
  position: relative;
  padding: 2.5rem;
}
.header__content__toggle:hover {
  color: rgb(114, 109, 109);
}
@media (min-width: 48em) {
  .header__content__toggle {
    display: none;
  }
}/*# sourceMappingURL=Navbar.module.css.map */